@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');

.Heading h1{
    font-size: 5rem;
    font-style: italic;
    font-family: 'Kurale','Poppins',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(253, 182, 4);
}

.Heading p{
    font-size: 2rem;
    font-style: italic;
    font-family: 'Kurale','Poppins',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image{
    width: 300px;
    height: auto;

}

img{
    width: 100%;
}


.card{
    min-width:60vw;
    width: auto;
    float: left;
    margin: 3%;
    border-radius:10px ;
    transition: 1s;
    cursor: pointer;
    background: rgb(241, 241, 241);
}

.text-muted{
    color: #444444!important ;
}

.card:hover{
    transition: 1s;
    box-shadow:  none;
}

.card .card-body h5{
    font-size: 2.2rem!important;
}


.cards{
    padding: 30px;
    border:2px solid grey;
    border-radius: 10px;
    transition: 1s ease-in-out;
    text-align: center;
}

.cards:hover a{
    color: #e6891d;
}

.cards:hover{
    background: #444444;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    border: 2px solid coral;
}


.card-title i{
    font-size: 2rem;
}